<form action="/updateAnimal/{{_id.$oid}}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{givenName}}" required>
    <label for="species">Species:</label>
    <input type="text" id="species" name="species" value="{{scientificName}}" required>
    <label for="age">Age:</label>
    <input type="text" id="age" name="age" value="{{Age}}" required>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" value="{{gender}}" required>
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="text" id="dateOfBirth" name="dateOfBirth" value="{{dateOfBirth}}" required>
    <label for="isTransportable">Is Transportable:</label>
    <input type="checkbox" id="isTransportable" name="isTransportable" {{#if IsTransportable}} checked {{/if}}>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required>{{commonName}}</textarea>
    <button type="submit">Update Animal</button>
    <button type="reset">Reset</button>
</form>